@import "../../../scss/colours";

.header-container {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: $primary-colour;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  margin-left: 2vw;
  height: 50px;
  width: 50px;
}

.header-text {
  position: relative;
  top: -1px;
  margin-left: 10px;
  font-size: 30px;
  color: $text-colour;
}
