<div class="app-container app-background flex-column scrollbar">
  <app-header></app-header>

  <div class="app-padding">
    <div class="flex-row selection-wrapper space-between border-box">
      <app-stock-selection class="selection-card-wrapper"></app-stock-selection>
      <app-social-media-selection class="selection-card-wrapper"></app-social-media-selection>
      <app-date-selection class="selection-card-wrapper"></app-date-selection>
    </div>

    <div class="data-card-wrapper" *ngIf="selectedDate && selectedDays && selectedSocial && selectedStock">
      <app-stock-data></app-stock-data>
    </div>
  </div>
</div>
