<div class="form-card large-padding scrollbar border-radius border-box" aria-label="Step 1: select stock">
  <div class="header flex-row y-centre unselectable">
    <div class="step-div flex-row y-centre x-centre">1</div>
    <span i18n="@@selectStock">Select Stock</span>
  </div>

  <div class="card-content">
    <form class="flex-column form-container" appOutsideClick
          (outsideClick)="searchInputFocus = false" [id]="'search-form'" id="search-form">
      <label i18n="@@searchStock" class="text-colour small-font">Search Stock</label>
      <div class="flex-row">
        <input type="text" [formControl]="searchInput" aria-label="Stock name or symbol input"
               autocomplete="off" (focusin)="searchInputFocus = true" class="search-input"
               (keydown.enter)="$event.target.blur(); searchInputFocus = false; searchStock(searchInput.value)">
        <button i18n="@@search" aria-label="search button" class="search-button pointer"
                (click)="searchStock(searchInput.value)">Search
        </button>
      </div>

      <ng-container *ngIf="checkIfDisplayAutocomplete()">
        <div class="filter-card border-radius medium-padding scrollbar border-box">
          <ng-container *ngFor="let stock of filteredStocks">
            <div class="text-colour pointer stock-div" (click)="selectStock(stock)">
              <span>{{stock.symbol}} - {{stock.name}}</span>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <span *ngIf="error" i18n="@@stockDoesNotExist" class="error-text small-font"
            aria-label="stock does {{searchInput.value}} not exist">Stock {{searchInput.value}}
        does <strong>not</strong> exist. Please check input and try again.</span>
    </form>

    <div class="stock-info flex-column" *ngIf="selectedStock" aria-label="selected stock info">
      <div class="flex-row">
        <span class="semi-bold">{{selectedStock.name}} ({{selectedStock.symbol}})</span>
      </div>
      <span>{{selectedStock.description}}</span>
    </div>
  </div>
</div>
