@import "../../../scss/colours";

.form-container {
  width: 100%;
  position: relative;
}

input {
  flex: 1 1 auto;
  min-width: 100px;
  padding: 6px;
  font-size: 16px;
  color: $text-colour;
  background-color: $primary-colour;
  border: none;
  border-bottom: solid 1px $text-colour;
}

input:focus {
  outline: none;
}

.filter-card {
  min-height: 48px;
  max-height: 150px;
  width: calc(100% - 40px);
  overflow: auto;
  position: absolute;
  top: 52px;
  background-color: $alt2-colour;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stock-div {
  padding: 4px;
}

.stock-div:hover {
  background-color: $grayhover-colour;
}

.error-text {
  margin: 2px;
  color: $warn-colour;
}

.search-button {
  border-radius: 5px;
  margin-left: 20px;
}

.stock-info {
  color: $text-colour;
  margin-top: 20px;
}
