// Extra asset colours
$green-colour: #02c584;
$amber-colour: #FFB300;
$red-colour: #FF073A;
$black-colour: #000;
$white-colour: #FFF;
$verylight-gray: #f0f5f5;
$lightgray-colour: #c3d6d4;
$mediumgray-colour: #38433e;
$darkgray-colour: #2C3531;
$lightblue-colour: #4FC3F7;

// Color palette
$primary-colour: $darkgray-colour;
$alt1-colour: $lightgray-colour;
$alt2-colour: $mediumgray-colour;
$accent1-colour: $amber-colour;
$accent1-colour: $lightblue-colour;
$warn-colour: $red-colour;
$text-colour: $verylight-gray;
