@import "../../../scss/colours";

.card {
  background-color: $primary-colour;
  min-height: 200px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.padding-bottom {
  padding-bottom: 12px;
}

.selection {
  flex: 1 1 auto;
  border-radius: 5px;
  height: 40px;
  padding: 4px;
  box-sizing: border-box;
}

.table-container {
  padding: 1vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-template-rows: repeat(auto-fill, 30px);;
}

.grid > div:nth-child(8n + 5),
.grid > div:nth-child(8n + 6),
.grid > div:nth-child(8n + 7),
.grid > div:nth-child(8n + 8) {
  background-color: $alt2-colour;
}

.grid > div:nth-child(8n + 5) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.grid > div:nth-child(8n + 8) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.padding-left {
  padding-left: 8px;
}

.cell-padding {
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.buy-text {
  color: $green-colour
}

.sell-text {
  color: $red-colour
}

.hold-text {
  color: $amber-colour
}

.extra-inputs-wrapper {
  justify-content: flex-end;
}

.input-container {
  padding: 8px;
}

.field-input {
  max-width: 200px;
  flex: 1 1 auto;
  min-width: 100px;
  padding: 6px;
  font-size: 16px;
  color: $text-colour;
  background-color: $primary-colour;
  border: none;
  border-bottom: solid 1px $text-colour;
}

.field-input:focus {
  outline: none;
}
